node_modules
.next
dist

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode
.idea

# Turborepo
.turbo

# Next.js Build Output
.next
out
build

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Mock Uploads fallback (if they accidentally get created locally)
apps/web/public/mock-uploads/

# Build outputs
dist
coverage


apps/api/tsconfig.tsbuildinfo
*.tsbuildinfo
